.Inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

p {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.Inner-Headline {
    font-weight: bold;
    font-size: 32px;
}

@media screen and (max-width: 480px) {
    .Inner-Headline {
        font-size: 24px;
    }
}

.Inner-Text {
    letter-spacing: 0.05em;
    line-height: 1.8;
    font-size: 15px;
}

.Inner-Text.first {
    margin-top: 36px;
}

.Inner-Box {
    margin-top: 16px;
}

.Inner-Box-Headline {
    font-weight: bold;
    font-size: 28px;
}

@media screen and (max-width: 480px) {
    .Inner-Box-Headline {
        font-size: 20px;
    }
}

.Inner-Box-List {
    margin: 20px 0 0 40px;
}

.Inner-Box-List-Item {
    margin-top: 10px;
    letter-spacing: 0.05em;
    line-height: 1.8;
    list-style-type: decimal;
}

.Inner-Box-List-Item-Ol {
    margin: 20px 0 0 40px;
}

.Inner-Box-List-Item-Ol-Item {
    margin-top: 10px;
    letter-spacing: 0.05em;
    line-height: 1.8;
    list-style-type: decimal;
}

.Inner-Box-List-Item-Link {
    text-decoration: underline;
    display: inline-block;
    color: red;
}

.Inner-Box-Contact {
    margin-top: 36px;
}

.Inner-Box-Contact-Text {
    letter-spacing: 0.05em;
    line-height: 1.8;
    font-size: 15px;
}

.Inner-Box-Contact-Text:nth-child(2) {
    margin-top: 16px;
}

.Inner-Box-Item {
    letter-spacing: 0.05em;
    line-height: 1.8;
    font-size: 15px;
}

@media screen and (max-width: 480px) {
    .Inner-Box-Item {
        letter-spacing: inherit;
        font-size: 14px;
    }
}

.button005 a {
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
    font-weight: 600;
    padding: 10px 25px;
    max-width: 220px;
    margin: 0 auto;
    justify-content: space-around;
    display: flex;
    list-style: none;
    color: #00a497;
    border: 1px solid #00a497;
    background-color: transparent;
}

.button005 a:hover {
    background: #00a497;
    color: #FFF;
}
